<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44478915750-nla04k880ko6jvcpgfuls2efec77a256.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44478915750-nla04k880ko6jvcpgfuls2efec77a256</string>
	<key>API_KEY</key>
	<string>AIzaSyBRXOGP6Vprs-8_RKBOO0EJXC63w1MoFhA</string>
	<key>GCM_SENDER_ID</key>
	<string>44478915750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnexpo.randotrondecisionmaker</string>
	<key>PROJECT_ID</key>
	<string>randotron-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>randotron-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44478915750:ios:4f79fd44b7e766ae004067</string>
	<key>DATABASE_URL</key>
	<string>https://randotron-rn.firebaseio.com</string>
</dict>
</plist>